@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Manrope:wght@200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap');

*{
/* font-family: "Berkshire Swash", serif; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html{
  /* font-size: 62.5%; */
   /* overflow: hidden; */
   scroll-behavior: smooth;
  scroll-padding-top: 9rem; 

}

html::-webkit-scrollbar{
  width: .8rem;
}

html::-webkit-scrollbar-track{
  background-color: transparent;

}

html::-webkit-scrollbar-thumb{
  background-color: #ffb703;
  /* border-radius: 0rem; */
  transition: .1s;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 20;
    width: 100%;
    border-bottom: 1px solid #FFFFFF26;
    background: linear-gradient(270deg, #00132249 0%, #001e3d66 57.5%);
}

 ul{
    display: flex;
    gap: 20px;
    font-size: 18px;
    margin-left: auto;
}
 .navbar-nav{
  justify-content: space-around;
  align-items: center;
}

nav .navbar-collapse.collapse {
  display: block;
}

nav .navbar-collapse {
  transition: 0.6s all ease-in-out;
  height: 0;
}

.nav-item .a {
 text-align: center;
  /* margin: 0 2.5rem; */
      color: white;
  font-size: 1.2rem;
  font-weight: 500;
   transition: .1s ease-in-out;
 
}

.nav-item .a:hover{ 
   color: #ffb703;
    cursor: pointer;    
} 

nav .logo{
    font-size: 30px;
    font-weight: 600;
}
nav li{
    text-decoration: none;

}

.video-banner video{
    /* width: 100%; */
    position: absolute;
    top: 0%;
    left: -20%;
    z-index: 0;
    height: 1100px;
    background-position:right;
    background-size:100% 100%;

}

.video-banner{
    position: relative;
    width: 100%;
    height: 780px;
    overflow: hidden; 
}

.home-content{
  /* display: flex;
  justify-content: center;
  align-items: center; */
  position: relative;
  z-index: 0;
  background-image: linear-gradient(270deg, rgba(0, 0, 0, 0.219) 0%, #00345b46 67%);
  background-color: transparent !important;
  height: 800px;
  background-color: transparent;
  --background-overlay: '';
}

.home-content h1{
  font-size: 3.1rem;
  margin-top: 10%;
font-family:"Unbounded";
letter-spacing: 1px;
line-height: 75px;
}

.home-content p{
  font-size: 1.2rem;
  margin-top: 10%;
  font-weight: 500;
  color: rgb(228, 228, 228);
  font-family:Verdana, Geneva, Tahoma, sans-serif;

}



.btn-contact{
  position: relative;
  background-color: #ffb703;
  color: #ffffff;
  border: none;
  padding: 15px 40px;
  font-size:1.2rem;
  letter-spacing: 1px;
  font-weight: 500;
  transition: 0.5s ease-in;
 z-index: 1;
 font-family: "Unbounded";
 margin-top: 20px;
}

.btn-contact:hover{
  background-color: #1E1E1E;
}

.btn-contact::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffb703;
  z-index: -1;
  transform-origin: left;
  transition: transform 0.6s ease;
  transform: scaleX(1); 
  outline: none;

}

.btn-contact:hover::before{
  transform-origin: right;
  transition: transform 0.6s ease;
  transform: scaleX(0);
}

.hero-section{
  width: 100%;
  height: 700px;
}

.about-img img{
  height: 550px;
  width: 100%;
}

.about-content {
  /* width: 100%; */
  height: 650px;

}


.about-content span, .history{
  color: #FFB703;
  font-size: 16px;
  font-weight: 800;
  line-height: 1.1em;
  letter-spacing: 0.13em;
  font-family:"Manrope";
}

.about-content h1{
 margin-top: 30px;
 letter-spacing: 1px;
 font-size: 3rem;
 font-weight: 600;
 color: rgb(50, 50, 50);

}

.about-content p{
  margin-top: 30px;
 letter-spacing: 1px;
 font-size: 1rem;
 font-weight: 500;
 color: rgb(73, 73, 73);
 letter-spacing: 1px;
 line-height: 28px;

}

.bgcolor{
  background-color: #e9f7fe;
  border-radius: 20px;
}

.check-i{
  color: #FFB703;
  font-size: 22px;
  text-align: center;
}

.about-content .icon-list-item{
  color: #12223B;
  font-weight: 700;
  font-size: 1.1rem;

}

.btn-contact-1{
  margin-top: 50px;
}

.our-services{
  background-color: #E9F7FE;
  background-image: url("./images/our-service-bg.png");
  width: 100%;
  height: 1450px;
  background-position: top right;
    background-repeat: no-repeat;
    background-size: auto;
}

.our-service-text{
  padding-top: 100px;
}


.our-service-text h6{
   color: #FFB703;
  font-size: 20px;
  font-weight: 800;
  line-height: 1.1rem;
  letter-spacing: 0.13em;
  font-family:"Manrope";
  text-transform: capitalize;
}

.our-service-text h1, .blog-subtitle, .history-title{
  color: #12223B;
  font-size: 3.5rem;
  margin-top: 20px;
  font-weight: 700;
}

.our-service-text p, .blog-para,.future-description{
  font-size: 1.1rem;
  font-weight: 500;
  color: #667282;
  padding-left: 260px;
  padding-right: 250px;
  margin-top: 20px;
}

.our-service-content{
  overflow: hidden;
  width: 48%;
  height: 450px;
  border-radius:20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
} 


 .image-container {
  overflow: hidden;
}

.all-service-img1{
  background-image:linear-gradient(270deg, rgba(0, 0, 0, 0.6) 0%, #00000046 57%),  url("./images/our-service-img-1.jpg");
   width: 100%;
  height: 450px;
  transition: all 0.8s ease-in-out;
  object-fit: cover;
  background-repeat: no-repeat;
  /* position-absolute bottom-0 w-100 */
    background-position: center center;
}

.our-service-content:hover .all-service-img1{
transform: scale(1.1);
}
.img-inside-text{
  /* display: flex; */
  justify-content:center;
  align-items: center;
  position: relative;
  left: 30%;
  top: 60%;
  /* width: 100%; */

}
.img-inside-text h5{
 color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 600;
margin-bottom: 20px;
}

.img-inside-text .view-more{
  text-decoration: none;
  color: #FFB703;
  font-size: 18px;
  font-weight: 800;
}
   .img-inside-text .view-more:hover{
    color: white;
   } 

   .all-service-img2{
  background-image:linear-gradient(270deg, rgba(0, 0, 0, 0.6) 0%, #00000046 57%),  url("./images/our-service-img-2.jpg");
   width: 100%;
  height: 450px;
  transition: all 0.8s ease-in-out;
  object-fit: cover;
       background-repeat: no-repeat;
    background-position:top  center;
}

.our-service-content:hover .all-service-img2{
transform: scale(1.1);
}

  .all-service-img3{
  background-image:linear-gradient(270deg, rgba(0, 0, 0, 0.6) 0%, #00000046 57%),  url("./images/our-service-img-3.jpg");
   width: 100%;
  height: 450px;
  transition: all 0.8s ease-in-out;
  object-fit: cover;
       background-repeat: no-repeat;
    background-position:top  center;
}

.our-service-content:hover .all-service-img3{
transform: scale(1.1);
}

  .all-service-img4{
  background-image:linear-gradient(270deg, rgba(0, 0, 0, 0.6) 0%, #00000046 57%),  url("./images/our-service-img-4.jpg");
   width: 100%;
  height: 450px;
  transition: all 0.8s ease-in-out;
  object-fit: cover;
       background-repeat: no-repeat;
    background-position:top  center;
}

.our-service-content:hover .all-service-img4{
transform: scale(1.1);
}

.btn-our-service{
  left: 40%;
  margin-top: 50px;
  font-size: 15px;
}

.choose{
  width: 100%;
  height: 820px;
  /* background-color: #fff7f7; */
}
.hr{
  color:  #5a5a5a; 
  width: 100%;
  margin-left: 0px;
  
}
.choose-text span{
 color: #FFB703;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.1rem;
  letter-spacing: 0.13em;
  font-family:"Manrope";
  /* text-transform: capitalize; */
}
.choose-text h1{
  color: rgb(30, 30, 30);
  font-size: 3.5rem;
  margin-top: 20px;
  font-weight: 700;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.why-choose-img{
  background-image: url("./images/why-choose-img.jpg");
   width: 95%;
  height: 600px;
  object-fit: cover;
       background-repeat: no-repeat;
    background-position:top center;
}

.why-choose-content h4 span{
color: #FFB703;
font-family:'Unbounded';
font-size: 1.2rem;
letter-spacing: 1px;

}
.why-choose-content h4{
color: #000000;
font-family:'Unbounded';
font-size: 1.2rem;
}

.why-choose-content p{
color: #949494;
font-size: 1rem;
font-family: "Montserrat";
margin-top: 30px;
font-weight: 500;
margin-bottom: 40px;
}

.project-demo{
  background-color: #E9F7FE;
  background-image: url("./images/our-projects-bg.png");
  width: 100%;
  height: 950px;
  background-position: right top;
    background-repeat: no-repeat;
    background-size: auto;
}

.project-service-content{
  overflow: hidden;
  width: 48%;
  height: 450px;
  border-radius:10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
} 

  .project-service-img1{
  background-image:linear-gradient(270deg, rgba(0, 0, 0, 0.6) 0%, #00000046 57%),  url("./images/our-project-1.jpg");
   width: 100%;
  height: 450px;
  transition: all 0.8s ease-in-out;
  object-fit: cover;
       background-repeat: no-repeat;
    background-position:center  center;
}

.project-service-content:hover .project-service-img1{
transform: scale(1.1);
}

  .project-service-img2{
  background-image:linear-gradient(270deg, rgba(0, 0, 0, 0.6) 0%, #00000046 57%), url("./images/our-project-2.jpg");
   width: 100%;
  height: 450px;
  transition: all 0.8s ease-in-out;
  object-fit: cover;
       background-repeat: no-repeat;
    background-position:center  center;
}

.project-service-content:hover .project-service-img2{
transform: scale(1.1);
}

.need-help{
  background-color: #12223B;
  background-image:url("./images/cta-box-bg.png");
  width: 100%;
  height: 550px;
  object-fit: cover;
  background-repeat: no-repeat;  
  background-position: center center;
  background-size: cover; /* Added for better image scaling */
    /* background-size: auto; */
}

.need-help-inner .need-help-text{
  position: relative;
  top: 20%;
  color: #ffffff;
  padding-left: 40px;
}
.need-help-inner .need-help-text span, .blog-title, .future-title, .contact-title{
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 0px;
  color: #ffb703;
}

.need-help-inner .need-help-text h1{
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 20px;
}
.need-help-inner .need-help-text p{
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 30px;
  line-height: 1.8;
}
.need-help-image{
  position: relative;
  top: 9.9%;
}
.need-help-image img{
  width: 483px;
  height: 500px;
  background-repeat: no-repeat;
  background-size: right center;
}
.main-faqs{
  width: 100%;
  height: 820px;
  background-color: #e9f7fe;
  background-repeat: no-repeat;

}
.faq-container {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.faq-item {
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  padding: 15px 0;
  transition: background 0.3s;
}

.faq-item:hover {
  background-color: #ffffff;
}

.faq-question {
  font-size: 18px;
  font-weight: bold;
}
.faq-section {
  max-width: 800px;
  margin: 0px auto;
  padding: 0 20px;
  font-family: "Arial", sans-serif;
}

.faq-title {
  font-size: 36px;
  font-weight: 600;
  color: #000;
  padding-top: 80px;
}

.faq-subtitle {
  font-size: 1rem;
  color: #777;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 30px;
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.faq-item {
  border: 1px solid #ddd;
  padding: 20px 30px 5px 30px;
  cursor: pointer;
  background: #fff;
  transition: background 0.3s;
}

.faq-item.active {
  background: #111;
  color: #fff;
   
}

.faq-question {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 600;
  
}
.faq-border{
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin: 10px 0px 20px 0;
}
.faq-answer {
  /* margin-top: 15px; */
  font-size: 16px;
  color: #ccc;
  
}

.faq-icon {
  font-size: 28px;
  font-weight: bold;
  color: #ffb703;
}

.blog-section{
  width: 100%;
  height:1000px;
  margin-top: 100px;
}

.blog-card img{
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.cart-title{
  font-size: 1.2rem;
  font-family: "Unbounded";
  margin-top: 20px;
}

.cart-description{
  font-size: 0.945rem;
  color: #667282;
  font-weight: 600;
}

/* --------------------------About page-------------------------------- */

.about-bg{
  background-image:linear-gradient(270deg, #258bde00 0%, #021d3399 87.5%), url("./images/about-bg.jpg");
  width: 100%;
  height: 500px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-us-content,.services-content, .blog-content, .project-content{
  padding: 100px 250px;

}

.about-us-content h1, .services-content h1 , .blog-content h1, .project-content h1{
  font-size: 3.5rem;
  font-weight: 600;
  margin-bottom: 0px;
  margin-top: 20px;
}

.about-us-content p, .services-content p, .blog-content p, .project-content p {
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 30px;
  line-height: 1.8;
  margin-top: 10px;

}
.our-history{
  background-color: #e9f7fe;
  width: 100%;
  height: 650px;
}

.history-content{
  padding:100px 100px 20px 20px;
}

.experience-box {
  position: relative;
  bottom: 310px;
 float: right;
 margin-right: 0px;
  width: 200px;
  background-color: white;
  padding: 30px 40px;
  border-radius: 30px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.experience-box h2 {
  font-size: 2.5rem;
  color: #0a1f44;
  margin: 0;
}
.experience-box p {
  margin: 5px 0 0;
  color: #444;
  font-weight: 500;
}

.experience-right {
  flex: 1 1 400px;
  max-width: 600px;
}

.history-description {
  margin: 5px 0 0;
  color: #444;
  font-weight: 500;
  margin-top: 20px;
}

.img-fluid {
  border-radius: 20px;
}

.our-mission{
  width: 100%;
  height: 550px;
}
.mission-box{
border: 1px solid rgb(201, 201, 201);
border-radius: 20px;
padding: 25px;
width: 30%;
margin-left: 35px;
}
.mission-img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}


.mission-img3{
  width: 80px;
  height: 75px;
  object-fit: cover;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.mission-link{
  text-decoration: none;
  color: #ffde59;
}
.mission-link:hover {
  color: #ffde59;
}
.mission-link .vision{
  font-size: 4.9rem;
}

.mission-content h1{
  font-size: 1.8rem;
  margin-top: 20px;
  font-weight: 500;
}

.mission-content p{
  font-size: 1rem;
  margin-top: 20px;
  font-weight: 500;
  color: #667282;
  line-height: 25px;
}

.future-subtitle{
  font-size: 2.8rem;
  font-weight: 700;
  color: #12223B;
  margin-top: 20px;
  padding: 0px 300px;
  letter-spacing: 1px;
}

.future-section{
  width: 100%;
  height: 700px;
  background-color: #e9f7fe;
  padding: 90px 0;
}

.counter-number{
 background-color: #12223B;
 color: white;
 padding: 50px 20px;
 text-align: center;
 height: 220px;
 border-radius: 30px;
}

.counter-number-description{
  font-size: 1.2rem;
  color: #a2a2a2;
  font-weight: 500;
  margin-top: 20px;
}

.our-team-section{
  width: 100%;
  height: 1000px;
}
.our-team-box{
  border: 1px solid #ddd;
  width: 32%;
  height: 600px;
  border-radius:30px;
  /* background-color: #e9f7fe; */
  /* padding: 50px 0; */
}

.team-member img{
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius:30px 30px 0px 0px;
}

.team-member-name{
  font-size: 2rem;
  font-weight: 500;
  color: #12223B;
  margin: 30px 30px 5px 30px;
}
.team-member-role{
  font-size: 1.1rem;
  font-weight: 500;
  color: #667282;
  margin: 10px 30px 0px 30px;
}

.social-icon .social-i-team{
  padding: 5px 10px 10px 10px;
  text-align: center;
  color:#12223B;
  /* background-color: #ff770f; */
  border: 2px solid #12223B;
  border-radius: 50%;
  font-size: 17px;
  margin: 0px 10px;

}

.social-icon .social-i-team:hover{
  /* background-color: #eb6700; */
  border: 2px solid #ffb703;
  color: #ffb703;
  transition: .2s ease-in-out;
}

/* -------------------------Services Page-------------------------- */
.services-bg{
  background-image:linear-gradient(270deg, #03315288 0%, #011525b4 87.5%), url("./images/glass-building.jpg");
  width: 100%;
  height: 500px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.services-subtitle{
  margin-top: 10px;
color: black;
  font-size: 3.5rem;
  font-weight: 500;
}

.all-services{
  width: 100%;
  height: 1550px;
  /* background-color: #e9f7fe; */
}

.service-section {
  background-image:linear-gradient(270deg, #0000006b 0%, #000000d3 87.5%), url("./images/additional-service.jpg");
  width: 100%;
  height: 500px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; 
  padding: 150px 50px;
}

.service-section h1{
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 10px;
}

.service-section p{
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 20px;
  line-height: 1.8;
}

.service-img-box{
  width: 100%;
  height: 250px;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.services{
  width: 100%;
  height: 1050px;
}

.services-title{
  font-size: 1.3rem;
  font-weight: 700;
  color: #12223B;
  margin-top: 20px;
}

.services-description{
  font-size: 1rem;
  font-weight: 500;
  color: #667282;
  line-height: 25px;
}
.services-link{
  text-decoration: none;
  color: #555;
  font-size: 1rem;
  font-weight: 600;
}
.services-link:hover {
  color: #ffb703;
}

.services-experience{
  background-image:linear-gradient(270deg, #00000000 0%, #00000059 87.5%), url("./images/banner1.jpg");
  width: 100%;
  height: 500px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; 
  padding: 100px 250px;
  margin-bottom: 100px;
}

.services-experience h1{
  color: white;
  font-size: 3rem;
  font-weight: 500;
}

.services-experience p{
  color: white;
  font-size: .975rem;
  font-weight: 500;
  margin-top: 20px;
}

.btn-contact3{
  left: 30%;
}

/* --------------------------Blog page--------------------------- */

.blog-bg{
  background-image:linear-gradient(270deg, #03315288 0%, #011525b4 87.5%), url("./images/blog-bg.jpg");
  width: 100%;
  height: 500px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.all-blog-section{
  width: 100%;
  height: 100%;
 margin-top: 100px;
 margin-bottom: 100px;
}

/* -------------------------------- Project page ----------------------- */

.project-bg{
  background-image:linear-gradient(270deg, #03315288 0%, #011525b4 87.5%), url("./images/project-img.jpg");
  width: 100%;
  height: 500px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.recent-project{
  width: 100%;
  height: 100%;
}
.recent-title{
  color: black;
  font-size: 2.5rem;
  font-weight: 500;
}
.recent-description{
  color: rgb(92, 92, 92);
  font-weight: 600;
  font-size: 1rem;
  margin-top: 30px;
}

.project-imgs img{
  width: 90%;
  height: 500px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-details{
padding: 40px 20px;
}

.project-details h2{
  color: black;
  font-weight: 700;
  font-size: 2rem;
}

.project-border{
  border-bottom: 5px solid #FFB703;
  width: 15%;
  margin-top: 20px;
  
}
.project-details p{
  color: rgb(84, 84, 84);
  font-size: .975rem;
  font-weight:400;
  margin-top: 30px;
  letter-spacing: 1px;
  line-height: 25px;
}

.drop-right{
  color: #ffb703;
  font-size: 1.8rem;
  text-decoration: none;
}
.project-details span{
  color: rgb(0, 0, 0);
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 400;
}

/* ------------------------------------Contact Us------------------------------ */

.contact-bg{
  background-image:linear-gradient(270deg, #03315288 0%, #011525b4 87.5%), url("./images/contact-bg.jpg");
  width: 100%;
  height: 500px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-info{
  width: 100%;
  height: 820px;
  margin-top: 80px;
}

.contact-subtitle{
  font-size: 3.5rem;
  font-weight: 500;
  color: black;
  margin-top: 20px;

}

.contact-description{
  font-size: 1.1rem;
  color: rgb(78, 78, 78);
  margin-top: 20px;
  letter-spacing: 1px;
  line-height: 35px;
  margin-bottom: 40px;
}
.Contact-heading{
  margin-left: 80px;
  margin-top: -50px;
  font-size: 1.6rem;
  color: black;
  font-weight: 700;
}

.contact-num,.contact-email-id, .contact-address-id{
  margin-left: 80px;
  margin-top: 10px;
  color: #4a4a4a;
  font-size: 1.2rem;
}

.contact-phone,.contact-email, .contact-addreass {
  font-size: 2.8rem;
  color: #FFB703;
}

.contact-phone:hover,
.contact-email:hover,
.contact-addreass:hover{
  color: #FFB703;

}

.contact-content h1{

  font-size: 2.5rem;
  color: rgb(0, 0, 0);
  margin-top: 25px;
}

.contact-content p{
  font-size: 1rem;
  color: rgb(82, 82, 82);
  margin-top: 25px;
  font-weight: 500;
  line-height: 30px;
}
.contact-form{
  height: 740px;
  background-color: #f8f8f8;
}

form{
  width: 100%;
  margin: 0 auto;
  padding: 20px 20px 35px 20px; 
  background-color: #ffffff;

}
.form-control{
  border-radius: 0px;
  padding: 10px 20px;
  background-color: white;
  color: black;
  font-size: .875rem;
  font-weight: 500;
}

.form-control:focus{
  box-shadow: none;
  border: 1px solid #FFB703;
  box-shadow: 0px 0px 5px #FFB703;
}


/* ----------------------------------- Footer -------------------------------- */
.footer{
  width: 100%;
  height: 550px;
  background-color: #12223b;
}
.footer .logo-p{
 font-size: .940rem;
  color: #ffffff;
    font-family: "Raleway", sans-serif;
    line-height: 30px;
    font-weight: 500;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 45px;

}
.footer  .navbar-nav {
        color: #ffffff;
      gap: 10px;
      align-items: start;

    }
   
.footer .nav-item{
  border-bottom: none;
        /* padding: 12px 130px; */

        color: rgb(255, 255, 255);
        text-align: left;
}
.footer .nav-link{
  color: rgb(255, 255, 255);
}
.footer .nav-link .a{
  border-bottom: none;
  /* margin-top: 10px; */
  color: rgb(255, 255, 255);
  
}
.footer .nav-item .a:hover {
    color: #ffb703;
    border-bottom: none;
}
.navbar-nav .nav-link.active {
    color: rgb(255, 255, 255);
}

.logo-p{
  font-size: 15px;
}
.phone{
  text-decoration: none;
  font-size: 22px;
  color: #ffb703;
}
.phone:hover,.email:hover, .addreass-i:hover{
  color: #ffb703;
}

.phone-num{
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
  color: white;
}
.email, .addreass-i{
  font-size: 22px;
  color: #ffb703;
  text-decoration: none;
}
.email-id, .address-id{
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
  color: white;
}
.copyright-text{
  font-size: 15px;
  color: white;
  font-weight: 600;
}
.copyright{
  display: flex;
  justify-content: space-between;
  align-items: end;
  font-family: 'Montserrat', sans-serif;

}

.social-icon .social-i{
padding: 6px 10px 8px 10px;
text-align: center;
  color:#ffb703;
  /* background-color: #ff770f; */
  border: 2px solid #ffb703;
  border-radius: 50%;
  font-size: 18px;
  margin: 0px 10px;

}

.social-icon .social-i:hover{
  /* background-color: #eb6700; */
  border: 2px solid #ffffff;
  color: rgb(255, 255, 255);
  transition: .5s ease-in-out;
}

.footer-border{
  width: 94%;
  height: 1px;
  background-color: #ffffff26;
  margin:20px 40px 0px 40px;

}


@media (min-width: 992px) {
  .navbar-nav {
    /* flex-direction: row !important; */
    gap: 60px;
  }


  .nav-link.a {
    color: white;
    font-weight: 500;
  }
}

@media (max-width:768px) {

  nav{
    background:none;
    border:  none;
  }

   .navbar-toggler {
    color: #ffffff;
    font-size: 28px;
    border-radius: 0px;
    cursor: pointer;
    margin-right: 10px;
    background-color: #ffb703;
    border: none;
    font-weight: 800; 
    
   
  }
  
  .navbar-toggler:focus {
    box-shadow: none;
  }
  
  nav .navbar-collapse.collapse {
    transition: .8s  ease-in-out;
    overflow: hidden;
    background-color: #ffb703;
  }
  
  nav .navbar-collapse.active {
       width: 100%;
        height: 47vh;
  }

   ul{
    gap: 5px;
    font-size: 18px;
    margin-left: auto;
  }

   .nav-link.a:hover {
    color: white;
    font-weight: 500;
  }
    .video-banner{
      height: 680px;
    }

  .video-banner video {
    height: 680px;
    background-position: top left right center;
    background-repeat: no-repeat;
    /* background-size: 150% 200%; */
    width: 1200px;
    right: 0%;
    left: -120%;
    top: -2%;
  }

  .home-content{
    position: relative;
    z-index: 20;
     /* background: linear-gradient(270deg, #0C375A00 0%, #0C375A99 87.5%); */
     height: 662px;
    background-color: transparent;
    --background-overlay: '';
}


.home-content h1{
  font-size: 1.5rem;
  margin-top: 15%;
font-family:"Unbounded";
letter-spacing: 1px;
line-height: 35px;
}

.home-content p{
  font-size: .9rem;
  margin-top: 10%;
  font-weight: 500;
  color: rgb(239, 239, 239);

}

.btn-contact{

  padding: 16px 30px;
  font-size:1.1rem;
  letter-spacing: 1px;
  font-weight: 500;
 margin-top: 22px;  
}


.about-content h1{
 margin-top: 20px;
 letter-spacing: 1px;
 font-size: 1.5rem;
 font-weight: 600;
 color: rgb(50, 50, 50);

}
.hero-section {
    width: 100%;
    height: 1250px;
}

.about-content p{
  margin-top: 20px;
 letter-spacing: 1px;
 font-size: .968rem;
 font-weight: 500;
 color: rgb(73, 73, 73);
 letter-spacing: 1px;
 line-height: 25px;

}


.check-i{
  color: #FFB703;
  font-size: 22px;
  text-align: center;
}

.about-content .icon-list-item{
  color: #12223B;
  font-weight: 700;
  font-size: .975rem;

}

.btn-contact-1{
  margin-top: 30px;
}

.our-service-text {
    padding-top: 50px;
}

   .our-services {
        width: 100%;
        height: 2400px;
    }

.our-service-content, .project-service-content{
  overflow: hidden;
  width: 90%;
  height: 450px;
  border-radius:20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  margin-left: 20px;
}
.img-inside-text{
    left: 22%;
    top: 60%;
}


.our-service-text h1,.blog-subtitle {
  color: #12223B;
  font-size: 1.8rem;
  padding-left: 10px;
  margin-right: 10px;
}

.our-service-text p, .blog-para,.future-description{
  font-size: 1.2rem;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
}

.btn-our-service{
  left: 16%;
  margin-top: 50px;
  font-size: 15px;
}

.choose{
  width: 100%;
  height: 1480px;
}

.choose-text h1{
  font-size: 1.5rem;
  margin-top: 15px;
  line-height: 35px;
}
.why-choose-content h4 {
    font-size: 1rem;
}
.why-choose-content p {
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 30px;
}

.why-choose-img{
   width: 100%;
  
}
.project-demo{
  height: 1460px;
}
   
.need-help{
  background-color: #12223B;
  background-image:url("./images/cta-box-bg.png");
  width: 100%;
  height: 1018px;
  object-fit: cover;
  background-repeat: no-repeat;  
  background-position: center center;
  background-size: cover; /* Added for better image scaling */
    /* background-size: auto; */
}

.need-help-image{
  position: relative;
  top: 40%;
}
.need-help-image img{
  width: 350px;
  height: 414px;
  background-repeat: no-repeat;
  background-size:right center;
}


.faq-item {
  border: 1px solid #ddd;
  padding: 20px 20px 20px 20px;
  cursor: pointer;
  background: #fff;
  transition: background 0.3s;
}

.main-faqs{
  width: 100%;
  height: 1050px;
  background-color: #e9f7fe;
  background-repeat: no-repeat;

}

.blog-section{
  width: 100%;
  height: 2240px;
  margin-top: 70px;
}
/* ------------------------About Us page --------------------------- */

.about-us-content,.services-content, .blog-content, .project-content{
  padding: 50px 10px;
}

.about-us-content h1, .services-content h2 {
  font-size: 2.8rem;
  font-weight: 600;
  margin-bottom: 0px;
  margin-top: 20px;
}
.about-us-content p ,.services-content p{
  font-size: 1.1rem;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 30px;
  line-height: 1.5;
  margin-top: 15px;

}

.our-history{
  background-color: #e9f7fe;
  width: 100%;
  height: 600px;
}

.our-history{
  background-color: #e9f7fe;
  width: 100%;
  height: 950px;
}

.history-content{
  padding: 50px 0px;
}

.experience-box {
  position: relative;
  bottom: 20px;
 float: right;
 margin-right: 70px;
  width: 200px;
  background-color: white;
  padding: 10px 10px;
  border-radius: 30px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
.history-title {
    color: #12223B;
    font-size: 1.8rem;
    margin-top: 20px;
    font-weight: 700;
}

.our-mission{
  width: 100%;
  height: 1430px;
}

.mission-box{
border: 1px solid rgb(201, 201, 201);
border-radius: 20px;
padding: 25px;
width: 99%;
margin-left: 2px;
}

.future-subtitle{
  font-size: 1.5rem;
  font-weight: 700;
  color: #12223B;
  margin-top: 20px;
  padding: 0px 10px;
  letter-spacing: 1px;
}
.counter-number-description{
  font-size: 1rem;
}

.future-section{
  width: 100%;
  height: 1000px;
  background-color: #e9f7fe;
  padding: 90px 0;
}

.counter-number{
 background-color: #12223B;
 color: white;
 padding: 40px 10px;
 text-align: center;
 height: 200px;
 border-radius: 30px;
}

.counter-number{
 background-color: #12223B;
 color: white;
 padding: 50px 20px;
 text-align: center;
 height: 220px;
 border-radius: 30px;
}

.our-team-box{
  border: 1px solid #ddd;
  width: 100%;
  height: 600px;
  border-radius:30px;
}
.our-team-section{
  width: 100%;
  height: 2230px;
}

/* -------------------------------------Services page ----------------------------------- */
.all-services{
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
}
.service-section {
  height: 450px;
  padding: 60px 0px;
  margin-bottom: 50px;
}

.service-section h1{
  color: #ffffff;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 10px;
}

.service-section p{
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 20px;
  line-height: 1.8;
}
.services{
  width: 100%;
  height: 100%;
  padding-bottom: 30px;
}

.services-experience{
  background-image:linear-gradient(270deg, #00000000 0%, #00000059 87.5%), url("./images/banner1.jpg");
  width: 100%;
  height: 450px;
  padding: 80px 10px;
    margin-bottom: 60px;
}

.services-experience h1{
  font-size: 1.4rem;
  letter-spacing: 1px;
  line-height: 30px;
}


.btn-contact3{
  left: 10%;
}
/* ----------------------------------blog page ------------------------------ */

.all-blog-section{
 margin-top: 80px;
 margin-bottom: 50px;

}

/* -----------------------------Project Page------------------------------ */
.recent-title{
  font-size: 2rem;
}

.recent-project{
  width: 100%;
  height: 4120px;
}

.project-imgs img{
  width: 100%;
  height: 350px;
}
.project-details{
padding: 80px 15px;
}

.project-details-office{
margin: -5px 15px;
position: relative;

}


.project-details h2{
  font-size: 1.5rem;
}

.project-border{
  border-bottom: 5px solid #FFB703;
  width: 20%;
  margin-top: 20px;
  
}
.project-details p{
  color: rgb(84, 84, 84);
  font-size: .975rem;
  font-weight:400;
  margin-top: 30px;
  letter-spacing: 1px;
  line-height: 25px;
}

.project-details span{
  font-size: .875rem;
  letter-spacing: 0px;

}

.project-section{
 margin-top: -65px;
}

.project-img1 img{
  position: relative;
  margin-top: -1680px;

}

.project-img2 img{
  position: relative;
  margin-top: -1680px;

}

.project-details1{
  margin-top: 300px;
}

/* --------------------------------Contact Us Page----------------------------- */
.contact-info{
  width: 100%;
  height: 100%;
  margin-top: 80px;
}
.contact-subtitle{
  font-size: 2rem;
  font-weight: 700;
  margin-top: 15px;

}

.contact-description{
  font-size: 1rem;
  line-height: 30px;
  margin-bottom: 40px;
}
.Contact-heading{
  font-size: 1.5rem;
}

.contact-num,.contact-email-id, .contact-address-id{
  font-size: 1.1rem;
}

.contact-phone,.contact-email, .contact-addreass {
  font-size: 2.6rem;
}

.contact-form{
  height: 970px;
  background-color: #f8f8f8;
}

.iframe-section iframe {
    height: 400px;
  }


/* ---------------------------   Footer   ----------------------------------- */
.footer {
    width: 100%;
    height: 1300px;
    background-color: #12223b;
}
  .footer  .navbar-nav {
        color: #000000;
        background-color: #12223b;
        /* border-top-width: 0; */
        /* border-bottom: 2px solid #f8921c; */
    }
.footer{
  width: 100%;
  height: 1430px;
  background-color: #12223b;
  margin-top: 50px;
}
.footer .logo-p{
 font-size: 1rem; 
    font-weight: 600;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;

}
.footer  .navbar-nav {
      gap: 25px;
      align-items: start;

    }
    

.link-fs{
    padding: 0rem 0rem;

}
.footer-border{
  width: 95%;
  height: 1px;
  background-color: #ffffff26;
  margin:20px 10px 0px 10px;

}

.copyright{
  display: inline-block;
  justify-content: space-between;
  align-items: end;
}


}